button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
}


body.high-contrast {
    background-color: white; 
    color: black; 
}

button.high-contrast {
    background-color: black;
    color: white;
}
